work/
.idea/
.nextflow.log*
.nextflow/
dag_inuca.png
data/
logs/
reports/
timeline_inuca.html

.cache/
innuca-dag.pdf
innuca-timeline.html
results/
templates/.cache/
templates/__pycache__/
templates/tests/__pycache__/
