
params {

    // Mandatory params
    fastq_files = "data/*_{1,2}.*"
    genome_size = 2.1
    min_coverage = 15

    // Trimmomatic
    trim_sliding_window = '5:20'
    trim_leading = '3'
    trim_trailing = '3'
    tim_min_length = '55'

    // Spades
    spades_min_coverage = '2'
    spades_min_kmer_coverage = '2'
    spades_kmers = 'auto'
    spades_min_contig_len = 200
    spades_min_kmer_coverage = 2
    spades_max_contigs = 100

    // Assembly mapping
    // In auto, the default minimum coverage for each assembled contig is
    // 1/3 of the assembly mean coverage or 10x, if the mean coverage is below
    // 10x.
    min_assembly_coverage = 'auto'

}


process {
    echo = true
    $fastqc.container = 'odiogosilva/fastqc:0.11.5'
    $trimmomatic.container = 'odiogosilva/trimmomatic'
    $spades.container = 'odiogosilva/spades:3.11.0'
    $assembly_mapping.container = 'odiogosilva/bowtie2_samtools'
    $assembly_mapping_coverage.container = 'odiogosilva/bowtie2_samtools'
    $pilon.container = 'odiogosilva/pilon:1.22'
    $mlst.container = 'odiogosilva/mlst'
}

executor {
  $local {
      cpus = 3
  }
}

profiles {

    standard {
        docker.enabled = true
    }

    sing {
        singularity.enabled = true

        // Replace container destination for singularity images
        process.$fastqc.container = 'docker://odiogosilva/fastqc:0.11.5'
        process.$trimmomatic.container = 'docker://odiogosilva/trimmomatic'
        process.$spades.container = 'docker://odiogosilva/spades:3.11.0'
        process.$assembly_mapping.container = 'docker://odiogosilva/bowtie2_samtools'
        process.$assembly_mapping_coverage.container = 'docker://odiogosilva/bowtie2_samtools'
        process.$pilon.container = 'docker://odiogosilva/pilon:1.22'
        process.$mlst.container = 'docker://odiogosilva/mlst'
    }

}

manifest {
    homePage = 'https://github.com/ODiogoSilva/innuca-nf'
    description = 'A nextflow implementation of INNUENDO quality control of reads, de novo assembly and contigs quality assessment, and possible contamination search'
    mainScript = 'innuca.nf'
}