
params {

    // Mandatory params
    fastq_files = "data/*_{1,2}.*"
    genome_size = 2.1
    min_coverage = 15

    // Trimmomatic
    trim_sliding_window = '5:20'
    trim_leading = '3'
    trim_trailing = '3'
    tim_min_length = '55'

    // Spades
    // spades_min_contig_len = '200'
    spades_min_coverage = '2'
    spades_min_kmer_coverage = '2'
    spades_kmers = 'auto'
    spades_min_contig_len = 200
    spades_min_kmer_coverage = 2

}


process {
    echo = true
    $fastqc.container = 'odiogosilva/fastqc:0.11.5'
    $trimmomatic.container = 'odiogosilva/trimmomatic'
    $spades.container = 'odiogosilva/spades:3.11.0'
}

executor {

  $local {
      cpus = 3
  }
}

profiles {

    standard {
        docker.enabled = true
    }

    sing {
        singularity.enabled = true
        singularity.cacheDir = 'work/singularity'

        // Replace container destination for singularity images
        process.$fastqc.container = 'docker://odiogosilva/fastqc:0.11.5'
        process.$trimmomatic.container = 'docker://odiogosilva/trimmomatic'
        process.$spades.container = 'docker://odiogosilva/spades:3.11.0'
    }

}

manifest {
    homePage = 'https://github.com/ODiogoSilva/innuca-nf'
    description = 'A nextflow implementation of INNUENDO quality control of reads, de novo assembly and contigs quality assessment, and possible contamination search'
    mainScript = 'innuca.nf'
}